.js-resultContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.js-resultCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 300px;
    border: black 1px solid;
    text-align: center;
}

.js-pictureFrame {
    display: flex;
    justify-content: center;
    height: 30%;
}

.js-pictureFrame img {
    height: 100%;
}