.js-resultContainer {
    display: flex;
    flex-wrap: wrap;
}

.js-resultCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 500px;
    width: 300px;
    border: rgb(255, 115, 0) 5px solid;
    border-radius: 10px;
    text-align: center;
    margin: 15px;
    box-shadow: 10px 10px 10px rgba(94, 94, 104, 0.5);
}

.js-pictureFrame {
    display: flex;
    justify-content: center;
    height: 30%;
    padding: 10px;
}

.js-pictureFrame > img {
    border-radius: 30px;
}

.js-pictureFrame img {
    height: 100%;
}

.js-resultCard h1 {
    margin: 0;
    padding: 20px, 0;
}

.js-resultCard p {
    margin: 5px;
    padding: 20px, 5px;
}

.js-resultCard li {
    list-style: circle;
    text-align: center;
}

.js-resultCard h3 {
    text-emphasis: none;
}