* {
    /* border:black 1px solid; */
    box-sizing: border-box;
    font-style: bold;
    font-family: 'Rubik', sans-serif;
    /* color: rgb(194, 73, 102); */
}

html{
    /* height: 100%;
    width: 100%; */
}

body {
    background-image: url(../images/clouds-1431822.jpg) ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    height: 100%;
    background-attachment: fixed;
}

.nameAndDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.websiteName {
    color: rgb(194, 73, 102);
    display: flex;
    /* justify-content: center; */
    font-size: 70px;
    padding-top: 20px;
    text-shadow: 2px 2px rgb(4, 2, 2);
}

.websiteDescription {
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    font-size: 30px;
    color: rgb(139, 130, 130);
    /* padding: 20px; */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    align-items: center;
    text-shadow: 2px 2px black;
}

.userInput {
    padding: 30px;
    padding-top: 50px;
    color: rgb(139, 130, 130);
    text-shadow: 1px 1px black;
    font-size: 25px;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: right ;
    color: rgb(82, 75, 75);
    text-shadow: 1px 1px black;
}

.partners {
    display: flex;
    justify-content: right;
    align-items: flex-start;
}